node_modules
public/dist/
public/*.dist/bundle.*.min.js
dist/server.bundle.js
dist/server.bundle.js.map
*.dist/server.bundle.js
*.dist/server.bundle.js.map
dist/server.bundle.js
dist/server.bundle.js.map
dist/*.server.bundle.js
dist/*.server.bundle.j s.map
tingyun_agent.log

package-lock.json
logs
/yarn-error.log
dist
tingyun_agent.log
gitmsg
.eslintcache
coverage
.screenshots
*.stats.json
log/

**/__tests__
src/public/*
src/tests/*