@mixin product-item {
  .product-item {
    > img {
      width: 3.04rem;
      height: 3.02rem;
      margin-top: 0.18rem;
      margin-bottom: 0.64rem;
    }
    .product-item-text {
      display: flex;
      flex-direction: column;
      > .product-item-title {
        width: 3.04rem;
        height: 0.72rem;
        font-size: 0.24rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #0d0d0d;
        line-height: 0.36rem;
        @include pingfang-mid();
        @include ellipsis(2);
      }

      > .product-item-price {
        > p {
          width: 100%;
          height: 0.4rem;
          font-size: 0.24rem;
          font-weight: 400;
          color: #0d0d0d;
          line-height: 0.4rem;
          @include pingfang-sfprotext;
          &.product-item-price-cost {
            margin-top: 0.16rem;
            width: 100%;
            height: 0.28rem;
            font-size: 0.2rem;
            font-weight: 400;
            color: #404040;
            line-height: 0.28rem;
            text-decoration: line-through;
            @include pingfang-sfprotext;
          }
        }
      }
    }
  }
}
